html {
  background-color: #3A404C
}

.team {
  background-color: #BAC5CD;
  display: inline-block;
  border-radius: 8px;
  position: relative;
  padding: 100px;
  border-style: groove;
  border-color: black;
  margin: 5px;
}

.team h1{
  font-family: Open Sans;
  display: inline-block;
  padding : 10px;
  margin : 0;
  position: absolute;
  top: 0px;
  left: 0px;
}

.searchPlayer h3{
  font-family: Open Sans;
}

.searchPlayer{
  background-color: white;
  display: block;
  border-radius: 20px;
  position: relative;
  padding: 10px;
  border-style: groove;
  border-color: black;
  margin: 15px;
  font-family: Open Sans;
}